@use 'base';


.current-selection {
    background-color: base.$primary-color;
    //margin-top: 1em;

    text-align: left;
    padding: 1em 0;

    h2 {
        //font-size: 1em;
        //font-weight: normal;
        color: #626467;
    }

    .container {
        text-align: left;

        ul {
            list-style-type: none;
            padding: 0; 
            margin: 0;
        }

        .selection-label {
            font-weight: bold;
        }
    }
}


.current-selection-block {
    border-radius: 6px;
    padding: 6px 10px;
    background-color: #d6d9dd;
}