@use 'base';


.filters {
    background-color: base.$primary-color; 
    padding: 10px;

    margin-bottom: 1em;
}

.filter-box {
    border-radius: 6px;
    padding: 6px 10px;
    margin-top: 16px;
    background-color: #d6d9dd;
}

.filter-box h2 {
    text-align: left;
    color: #626467;
}

.filter-box form div {
    display: inline-block;
    width: 20%; 
    margin-right: 22px; 
}

.nav-link.nav-link-custom.active {
    background-color: base.$primary-color; 
    border: 0;
    border-bottom: 2px solid base.$primary-color;

}

.nav{
    border: 0;
}

.nav-item {
    border: 0;

    font-weight: bold;
}
