@use 'base';

.stats-table {
    margin: 0 1em;

    th, td {
        padding: 6px 16px;
    }

    table tr:hover td, table tr:hover th {
        //background-color: #d6d9dd;
        background-color: base.$primary-color;
        //cursor: pointer;
      }
}

.table {
    border: 0px solid base.$primary-color;
    margin: 0;
    margin-top: 1em;
    margin-bottom: 2em;
}

.stats-table tbody tr th {
    text-align: left;
    font-weight: 500;
}
.stats-table tbody tr td {
    text-align: right;
}


.event-influence-tile {
    height: 516px;
}

.event-influence-table {
    //height: 200px;

    .table {
        margin-bottom: 1em;
    }

    th, td {
        width: 30%;
    }

    td {
        padding-top: 0;
        padding-bottom: 0;
    }
}
.stats-table.event-influence-table {
    margin: 1.1em 0;
    padding: 0.6em 0;

    h3 {
        text-align: left;
        font-size: 1.4em;
        color: #626467;   
    }

    th, td {
        text-align: right;
        background-color: white;
    
    }

    tbody tr th:first-child,
    tbody tr td:first-child {
    width: 250px;
    min-width: 250px;
    max-width: 250px;
    word-break: auto-phrase;

    text-align: left;
    }

    table tr:hover td, table tr:hover th {
        background-color: white;
      }
}



.event-details {
    text-align: left;

    ul {
        list-style-type: none;
        padding: 0; 
        margin: 0;

        background-color: white;
        padding: 1em;
        height: 450px;
    }

    .detail-label {
        font-weight: bold;
    }
}



.data-list {
    padding: 1em;
    text-align: left;
    background-color: #eaecf0;
    margin-top: 1em;

    h2 {
        color: #626467;
    }

    .table {
        font-size: 0.9em;
    }

    th, td {
        text-align: right;
    }

    tbody tr th:first-child,
    tbody tr td:first-child {
    width: 400px;
    min-width: 400px;
    max-width: 400px;
    word-break: auto-phrase;

    text-align: left;
    }


    table tr:hover td {
        background-color: base.$primary-color;
        //cursor: pointer;
      }
}