@use 'base';



.data-viz-tile {
    background-color: base.$primary-color;
    padding: 1em;
    margin-top: 1em;

    h2 {
        text-align: left;
        font-weight: bold;
        font-size: 1.3em;
    }
}
