h1 {
  font-family: Georgia, serif;
  font-size: 3.2rem;
  font-weight: 400;
}

h2 {
  font-size: 1.5em;
}

.filters {
  background-color: #eaecf0;
  padding: 10px;
  margin-bottom: 1em;
}

.filter-box {
  border-radius: 6px;
  padding: 6px 10px;
  margin-top: 16px;
  background-color: #d6d9dd;
}

.filter-box h2 {
  text-align: left;
  color: #626467;
}

.filter-box form div {
  display: inline-block;
  width: 20%;
  margin-right: 22px;
}

.nav-link.nav-link-custom.active {
  background-color: #eaecf0;
  border: 0;
  border-bottom: 2px solid #eaecf0;
}

.nav {
  border: 0;
}

.nav-item {
  border: 0;
  font-weight: bold;
}

.current-selection {
  background-color: #eaecf0;
  text-align: left;
  padding: 1em 0;
}
.current-selection h2 {
  color: #626467;
}
.current-selection .container {
  text-align: left;
}
.current-selection .container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.current-selection .container .selection-label {
  font-weight: bold;
}

.current-selection-block {
  border-radius: 6px;
  padding: 6px 10px;
  background-color: #d6d9dd;
}

.data-viz-tile {
  background-color: #eaecf0;
  padding: 1em;
  margin-top: 1em;
}
.data-viz-tile h2 {
  text-align: left;
  font-weight: bold;
  font-size: 1.3em;
}

.stats-table {
  margin: 0 1em;
}
.stats-table th, .stats-table td {
  padding: 6px 16px;
}
.stats-table table tr:hover td, .stats-table table tr:hover th {
  background-color: #eaecf0;
}

.table {
  border: 0px solid #eaecf0;
  margin: 0;
  margin-top: 1em;
  margin-bottom: 2em;
}

.stats-table tbody tr th {
  text-align: left;
  font-weight: 500;
}

.stats-table tbody tr td {
  text-align: right;
}

.event-influence-tile {
  height: 516px;
}

.event-influence-table .table {
  margin-bottom: 1em;
}
.event-influence-table th, .event-influence-table td {
  width: 30%;
}
.event-influence-table td {
  padding-top: 0;
  padding-bottom: 0;
}

.stats-table.event-influence-table {
  margin: 1.1em 0;
  padding: 0.6em 0;
}
.stats-table.event-influence-table h3 {
  text-align: left;
  font-size: 1.4em;
  color: #626467;
}
.stats-table.event-influence-table th, .stats-table.event-influence-table td {
  text-align: right;
  background-color: white;
}
.stats-table.event-influence-table tbody tr th:first-child,
.stats-table.event-influence-table tbody tr td:first-child {
  width: 250px;
  min-width: 250px;
  max-width: 250px;
  word-break: auto-phrase;
  text-align: left;
}
.stats-table.event-influence-table table tr:hover td, .stats-table.event-influence-table table tr:hover th {
  background-color: white;
}

.event-details {
  text-align: left;
}
.event-details ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: white;
  padding: 1em;
  height: 450px;
}
.event-details .detail-label {
  font-weight: bold;
}

.data-list {
  padding: 1em;
  text-align: left;
  background-color: #eaecf0;
  margin-top: 1em;
}
.data-list h2 {
  color: #626467;
}
.data-list .table {
  font-size: 0.9em;
}
.data-list th, .data-list td {
  text-align: right;
}
.data-list tbody tr th:first-child,
.data-list tbody tr td:first-child {
  width: 400px;
  min-width: 400px;
  max-width: 400px;
  word-break: auto-phrase;
  text-align: left;
}
.data-list table tr:hover td {
  background-color: #eaecf0;
}

.data-viz-tile.event-influence-tile .plot-container.plotly {
  width: 100%;
}

.about-section {
  margin: 4em 2em;
}
.about-section h2 {
  margin-bottom: 1em;
  font-weight: bold;
}

/*# sourceMappingURL=main.css.map */
