<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Events Impact Report</title>

        {{ bootstrap.load_css() }}

        <script src="https://cdn.plot.ly/plotly-2.32.0.min.js" charset="utf-8"></script>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        
    </head>
    <body>
        <div class="container text-center">
            <h1>Monthly Events Impact Report DEMO</h1>
            <hr>
            <h2>{{ params.processing_month }}</h2>
            <hr>
            {% block nav %}{% endblock %}

            {% block filters %}{% endblock %}
        </div>


        <section class="content">
            {% block content %}{% endblock %}
        </section>


        {{ bootstrap.load_js() }}
        
        <script src="{{url_for('static', filename='custom.js')}}"></script>
    </body>
</html>