<div class="current-selection">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="current-selection-block">
                    <h2>Current selection</h2>
                    <ul>
                        <li><span class="selection-label">Wiki project:</span> {{ params.selection.wiki_project }}</li>
                        <li><span class="selection-label">Grant funding status:</span> {{ params.selection.grant_funding_status }}</li>
                        <li><span class="selection-label">Grant region:</span> {{ params.selection.grant_region }}</li>
                        <li><span class="selection-label">Grant country:</span> {{ params.selection.grant_country }}</li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="current-selection-block">
                    <h2>Matched</h2>
                    <ul>
                        <li><span class="selection-label">Events:</span> {{ '{:,}'.format(params.selection.num_events) }}</li>
                        <li><span class="selection-label">Grants:</span> {{ '{:,}'.format(params.selection.num_grants) }}</li>
                        <li><span class="selection-label">Edits:</span> {{ '{:,.0f}'.format(params.selection.num_edits) }}</li>
                        <li><span class="selection-label">Participants:</span> {{ '{:,}'.format(params.selection.num_participants) }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>