{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}


{% block nav %}
<ul class="nav nav-tabs nav-fill">
    <li class="nav-item">
        <a class="nav-link nav-link-custom" aria-current="page" href="/">GLOBAL</a>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-link-custom active" href="/events">EVENTS</a>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-link-custom" href="/grants">GRANTS</a>
    </li>
</ul>
{% endblock %}


{% block filters %}
<div class="filters">         
    <div class="filter-box">
        <h2>Filters</h2>
        {{ render_form(form) }}
    </div>
</div>
{% endblock %}


{% block content %}
<div class="container text-center">
    
    {% include 'current_selection.html' %}

    <div class="data-list">
        <h2>Events list</h2>
        <table class="table">
            <tr>
                <th>Event name</th>
                <th>Event id</th>
                <th>Grant funded</th>
                <th>Grant country</th>
                <th>Event start date</th>
                <th>Event end date</th>
                <th>Organizers</th>
                <th>Participants</th>
            </tr>
            {% for event in params.data_list %}
            <tr>
                <td><a href="/events/{{ event.event_id }}">{{ event.event_name }}</a></td>
                <td>{{ event.event_id }}</td>
                <td>{{ event.grant_funded_event }}</td>
                <td>{{ event.grant_country_list_standardized }}</td>
                <td>{{ event.event_start_utc }}</td>
                <td>{{ event.event_end_utc }}</td>
                <td>{{ '{:,}'.format(event.organizers_count) }}</td>
                <td>{{ '{:,}'.format(event.participants_count) }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    
</div>
{% endblock %}