{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}


{% block nav %}
<ul class="nav nav-tabs nav-fill">
    <li class="nav-item">
        <a class="nav-link nav-link-custom" aria-current="page" href="/">GLOBAL</a>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-link-custom active" href="/events">EVENTS</a>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-link-custom" href="/grants">GRANTS</a>
    </li>
</ul>
{% endblock %}


{% block filters %}
<div class="filters">         
    <div class="filter-box">
        <h2>Filters</h2>
        {{ render_form(form) }}
    </div>
</div>
{% endblock %}



{% block content %}
<div class="container text-center">

    <div class="current-selection">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="current-selection-block">
                        <h2>Current selection</h2>
                        <ul>
                            <li><span class="selection-label">Event:</span> {{ params.event_details.event_name }}</li>
                            <li><span class="selection-label">Wiki project:</span> {{ params.selection.wiki_project }}</li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="current-selection-block">
                        <h2>Matched</h2>
                        <ul>
                            <li><span class="selection-label">Edits:</span> {{ '{:,.0f}'.format(params.selection.num_edits) }}</li>
                            <li><span class="selection-label">Participants:</span> {{ '{:,}'.format(params.selection.num_participants) }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col">
            <div class="data-viz-tile">
                <h2>Participant activity</h2>
                {{params.charts.participant_activity_chart | safe}}
            </div>
            
        </div>
        <div class="col">

            
            <div class="data-viz-tile event-details">
                <h2>Event details</h2>
                <ul>
                    <li><span class="detail-label">Event name:</span> <a href="https://meta.wikimedia.org/wiki/Event:{{ params.event_details.event_page_title }}" target="_blank" rel="noopener noreferrer">{{ params.event_details.event_name }}</a></li>
                    <li><span class="detail-label">Event id:</span> {{ params.event_details.event_id }}</li>
                    <li><span class="detail-label">Event meeting type:</span> {{ params.event_details.event_meeting_type }}</li>
                    <li><span class="detail-label">Event start UTC:</span> {{ params.event_details.event_start_utc_dt }}</li>
                    <li><span class="detail-label">Event end UTC:</span> {{ params.event_details.event_end_utc_dt }}</li>
                    <li><span class="detail-label">Event timezone:</span> {{ params.event_details.event_timezone }}</li>
                    <li><span class="detail-label">Grant funded:</span> {{ params.event_details.grant_funded_event_text }}</li>
                    {% if params.event_details.grant_funded_event %}
                    <li><span class="detail-label">Grant:</span> <a href="/grants/{{ params.event_details.grant_id }}" target="_blank" rel="noopener noreferrer">{{ params.event_details.grant_title }}</a></li>
                    {% endif %}
                </ul>
            </div>


        </div>
    </div>
    <div class="row">
        <div class="col">


            <div class="data-viz-tile event-influence-tile">
                <h2>Related events</h2>

                {% if params.charts.event_influence_chart %}
                    {{params.charts.event_influence_chart | safe}}
                    <p><a href="/events/{{ params.event_details.event_id }}/related_events" target="_blank" rel="noopener noreferrer">List of related events</a></p>
                {% else %}
                <div class="stats-table event-influence-table">

                    {% if not params.event_details.related_events_flag %}
                    <h3>No related events</h3>
                    {% endif %}

                    {% if params.tables.prior_event_influence_table %}
                    <h3>Prior events</h3>
                    <table class="table">
                        <tr>
                            <th>Event name</th>
                            <th>Organizers in common</th>
                            <th>Participants in common</th>
                            <th>Participants turned organizers</th>
                        </tr>
                        {% for event in params.tables.prior_event_influence_table %}
                        <tr>
                            <td><a href="/events/{{ event.event_id }}" target="_blank" rel="noopener noreferrer">{{ event.event_name }}</a></td>
                            <td>{{ event.organizers_in_common_count }}</td>
                            <td>{{ event.participants_in_common_count }}</td>
                            <td>{{ event.participants_turned_organizers_count }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    {% endif %}

                    {% if params.tables.concurrent_event_influence_table %}
                    <h3>Concurrent events</h3>
                    <table class="table">
                        <tr>
                            <th>Event name</th>
                            <th>Organizers in common</th>
                            <th>Participants in common</th>
                            <th>Participants turned organizers</th>
                        </tr>
                        {% for event in params.tables.concurrent_event_influence_table %}
                        <tr>
                            <td><a href="/events/{{ event.event_id }}" target="_blank" rel="noopener noreferrer">{{ event.event_name }}</a></td>
                            <td>{{ event.organizers_in_common_count }}</td>
                            <td>{{ event.participants_in_common_count }}</td>
                            <td>{{ event.participants_turned_organizers_count }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    {% endif %}

                    {% if params.tables.subsequent_event_influence_table %}
                    <h3>Subsequent events</h3>
                    <table class="table">
                        <tr>
                            <th>Event name</th>
                            <th>Organizers in common</th>
                            <th>Participants in common</th>
                            <th>Participants turned organizers</th>
                        </tr>
                        {% for event in params.tables.subsequent_event_influence_table %}
                        <tr>
                            <td><a href="/events/{{ event.event_id }}" target="_blank" rel="noopener noreferrer">{{ event.event_name }}</a></td>
                            <td>{{ event.organizers_in_common_count }}</td>
                            <td>{{ event.participants_in_common_count }}</td>
                            <td>{{ event.participants_turned_organizers_count }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    {% endif %}

                </div>
                {% endif %}
            </div>

        </div>
        <div class="col">
            <div class="data-viz-tile">
                <h2>Event statistics</h2>
                <div class="stats-table">
                    {{params.tables.stats_table | safe}}
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}