{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}


{% block nav %}
<ul class="nav nav-tabs nav-fill">
    <li class="nav-item">
        <a class="nav-link nav-link-custom" aria-current="page" href="/">GLOBAL</a>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-link-custom" href="/events">EVENTS</a>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-link-custom active" href="/grants">GRANTS</a>
    </li>
</ul>
{% endblock %}


{% block filters %}
<div class="filters">         
    <div class="filter-box">
        <h2>Filters</h2>
        {{ render_form(form) }}
    </div>
</div>
{% endblock %}


{% block content %}
<div class="container text-center">
    
    {% include 'current_selection.html' %}

    <div class="data-list">
        <table class="table">
            <tr>
                <th>Grant name</th>
                <th>Grant id</th>
                <th>Grant issued on</th>
                <th>Grant country</th>
                <th>Grant region</th>
                <th>Events funded</th>
            </tr>
            {% for grant in params.data_list %}
            <tr>
                <td><a href="/grants/{{ grant.grant_id }}">{{ grant.grant_title }}</a></td>
                <td>{{ grant.grant_id }}</td>
                <td>{{ grant.grant_agreement_dt }}</td>
                <td>{{ grant.grant_country_list_standardized }}</td>
                <td>{{ grant.grant_country_wikimedia_region }}</td>
                <td>{{ '{:,}'.format(grant.events_count) }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    
</div>
{% endblock %}