{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}


{% block nav %}
<ul class="nav nav-tabs nav-fill">
    <li class="nav-item">
        <a class="nav-link nav-link-custom" aria-current="page" href="/">GLOBAL</a>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-link-custom" href="/events">EVENTS</a>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-link-custom active" href="/grants">GRANTS</a>
    </li>
</ul>
{% endblock %}


{% block filters %}
<div class="filters">         
    <div class="filter-box">
        <h2>Filters</h2>
        {{ render_form(form) }}
    </div>
</div>
{% endblock %}



{% block content %}
<div class="container text-center">
    <div class="current-selection">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="current-selection-block">
                        <h2>Current selection</h2>
                        <ul>
                            <li><span class="selection-label">Grant:</span> {{ params.grant_details.grant_title }}</li>
                            <li><span class="selection-label">Wiki project:</span> {{ params.selection.wiki_project }}</li>
                            <li>&nbsp;</li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="current-selection-block">
                        <h2>Matched</h2>
                        <ul>
                            <li><span class="selection-label">Events:</span> {{ '{:,}'.format(params.selection.num_events) }}</li>
                            <li><span class="selection-label">Participants:</span> {{ '{:,}'.format(params.selection.num_participants) }}</li>
                            <li><span class="selection-label">Edits:</span> {{ '{:,.0f}'.format(params.selection.num_edits) }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col">
            <div class="data-viz-tile">
                <h2>Participant activity</h2>
                {{params.charts.participant_activity_chart | safe}}
            </div>
            
        </div>
        <div class="col">
            <div class="data-viz-tile event-details">
                <h2>Grant details</h2>
                <ul>
                    <li><span class="detail-label">Grant name:</span> {{ params.grant_details.grant_title }}</li>
                    <li><span class="detail-label">Grant id:</span> {{ params.grant_details.grant_id }}</li>
                    <li><span class="detail-label">Grant issued on:</span> {{ params.grant_details.grant_agreement_dt }}</li>
                    <li><span class="detail-label">Grant country:</span> {{ params.grant_details.grant_country_list }}</li>
                    <li><span class="detail-label">Grant region:</span> {{ params.grant_details.grant_country_wikimedia_region }}</li>
                    
                </ul>
            </div>


            
        </div>
    </div>
    <div class="row">
        <div class="col">


            <div class="data-viz-tile event-influence-tile">
                <h2>Related events</h2>

                {% if params.charts.grant_influence_chart %}
                    {{params.charts.grant_influence_chart | safe}}
                    &nbsp;
                    <p><a href="/grants/{{ params.grant_details.grant_id }}/grant_related_events" target="_blank" rel="noopener noreferrer">List of related events</a></p>
                {% else %}
                <div class="stats-table event-influence-table">

                    {% if not params.grant_details.related_events_flag %}
                    <h3>No related events</h3>
                    {% endif %}

                    {% if params.tables.funded_event_influence_table %}
                    <h3>Events funded by this grant</h3>
                    <table class="table">
                        <tr>
                            <th>Event name</th>
                            <th>Organizers</th>
                            <th>Participants</th>
                        </tr>
                        {% for event in params.tables.funded_event_influence_table %}
                        <tr>
                            <td><a href="/events/{{ event.event_id }}">{{ event.event_name }}</a></td>
                            <td>{{ event.organizers_count }}</td>
                            <td>{{ event.participants_count }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    {% endif %}

                    {% if params.tables.other_funded_event_influence_table %}
                    <h3>Related events funded by other grants</h3>
                    <table class="table">
                        <tr>
                            <th>Event name</th>
                            <th>Organizers in common</th>
                            <th>Participants in common</th>
                            <th>Participants turned organizers</th>
                        </tr>
                        {% for event in params.tables.other_funded_event_influence_table %}
                        <tr>
                            <td><a href="/events/{{ event.event_id }}" target="_blank" rel="noopener noreferrer">{{ event.event_name }}</a></td>
                            <td>{{ event.organizers_in_common_count }}</td>
                            <td>{{ event.participants_in_common_count }}</td>
                            <td>{{ event.participants_turned_organizers_count }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    {% endif %}

                    {% if params.tables.unfunded_event_influence_table %}
                    <h3>Related unfunded events</h3>
                    <table class="table">
                        <tr>
                            <th>Event name</th>
                            <th>Organizers in common</th>
                            <th>Participants in common</th>
                            <th>Participants turned organizers</th>
                        </tr>
                        {% for event in params.tables.unfunded_event_influence_table %}
                        <tr>
                            <td><a href="/events/{{ event.event_id }}" target="_blank" rel="noopener noreferrer">{{ event.event_name }}</a></td>
                            <td>{{ event.organizers_in_common_count }}</td>
                            <td>{{ event.participants_in_common_count }}</td>
                            <td>{{ event.participants_turned_organizers_count }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    {% endif %}

                </div>
                {% endif %}
            </div>


        </div>
        <div class="col">
            <div class="data-viz-tile">
                <h2>Grant statistics</h2>
                <div class="stats-table">
                    {{params.tables.stats_table | safe}}
                </div>
            </div>
        </div>
    </div>

    
</div>
{% endblock %}