{% extends 'base.html' %}

{% block nav %}
<ul class="nav nav-tabs nav-fill">
    <li class="nav-item">
        <a class="nav-link nav-link-custom" aria-current="page" href="/">GLOBAL</a>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-link-custom" href="/events">EVENTS</a>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-link-custom active" href="/grants">GRANTS</a>
    </li>
</ul>
{% endblock %}


{% block content %}
<div class="container text-center">

    <div class="current-selection">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="current-selection-block">
                        <h2>Current selection</h2>
                        <ul>
                            <li>
                                <span class="selection-label">Events related to grant:</span> 
                                <a href="/grants/{{ params.grant_details.grant_id }}">{{ params.grant_details.grant_title }}</a>
                            </li>
                            <li>
                                <span class="selection-label">Grant agreement date:</span>  {{ params.grant_details.grant_agreement_dt }}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="current-selection-block">
                        <h2>Matched</h2>
                        <ul>
                            <li>
                                <span class="selection-label">Events funded by this grant:</span> 
                                {{ '{:,}'.format(params.tables.funded_event_influence_table | length) }}
                            </li>
                            <li>
                                <span class="selection-label">Events funded by other grants:</span> 
                                {{ '{:,}'.format(params.tables.other_funded_event_influence_table | length) }}
                            </li>
                            <li>
                                <span class="selection-label">Unfunded events:</span> 
                                {{ '{:,}'.format(params.tables.unfunded_event_influence_table | length) }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="data-list">


        {% if params.tables.funded_event_influence_table %}

        <h2>Events funded by this grant</h2>
        <table class="table">
            <tr>
                <th>Event name</th>
                <th>Event start date</th>
                <th>Event end date</th>
                <th>Organizers count</th>
                <th>Participants count</th>
            </tr>
            {% for event in params.tables.funded_event_influence_table %}
            <tr>
                <td><a href="/events/{{ event.event_id }}" target="_blank" rel="noopener noreferrer">{{ event.event_name }}</a></td>
                <td>{{ event.event_start_utc_dt }}</td>
                <td>{{ event.event_end_utc_dt }}</td>
                <td>{{ event.organizers_count }}</td>
                <td>{{ event.participants_count }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}


        {% if params.tables.other_funded_event_influence_table %}

        <h2>Related events funded by other grants</h2>
        <table class="table">
            <tr>
                <th>Event name</th>
                <th>Event start date</th>
                <th>Event end date</th>
                <th>Organizers in common</th>
                <th>Participants in common</th>
                <th>Participants turned organizers</th>
            </tr>
            {% for event in params.tables.other_funded_event_influence_table %}
            <tr>
                <td><a href="/events/{{ event.event_id }}" target="_blank" rel="noopener noreferrer">{{ event.event_name }}</a></td>
                <td>{{ event.event_start_utc_dt }}</td>
                <td>{{ event.event_end_utc_dt }}</td>
                <td>{{ event.organizers_in_common_count }}</td>
                <td>{{ event.participants_in_common_count }}</td>
                <td>{{ event.participants_turned_organizers_count }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}


        {% if params.tables.unfunded_event_influence_table %}

        <h2>Related unfunded events</h2>
        <table class="table">
            <tr>
                <th>Event name</th>
                <th>Event start date</th>
                <th>Event end date</th>
                <th>Organizers in common</th>
                <th>Participants in common</th>
                <th>Participants turned organizers</th>
            </tr>
            {% for event in params.tables.unfunded_event_influence_table %}
            <tr>
                <td><a href="/events/{{ event.event_id }}" target="_blank" rel="noopener noreferrer">{{ event.event_name }}</a></td>
                <td>{{ event.event_start_utc_dt }}</td>
                <td>{{ event.event_end_utc_dt }}</td>
                <td>{{ event.organizers_in_common_count }}</td>
                <td>{{ event.participants_in_common_count }}</td>
                <td>{{ event.participants_turned_organizers_count }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}

    </div>


</div>
{% endblock %}