{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}



{% block nav %}
<ul class="nav nav-tabs nav-fill">
    <li class="nav-item">
        <a class="nav-link nav-link-custom active" aria-current="page" href="/">GLOBAL</a>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-link-custom" href="/events">EVENTS</a>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-link-custom" href="/grants">GRANTS</a>
    </li>
</ul>
{% endblock %}


{% block filters %}
<div class="filters">         
    <div class="filter-box">
        <h2>Filters</h2>
        {{ render_form(form) }}
    </div>
</div>
{% endblock %}


{% block content %}
<div class="container text-center">
    
    {% include 'current_selection.html' %}

    <div class="row">
        <div class="col">
            <div class="data-viz-tile">
                <h2>Participant activity</h2>
                {{params.charts.participant_activity_chart | safe}}
            </div>
        </div>
        <div class="col">
            <div class="data-viz-tile">
                <h2>Participants by grant country</h2>
                {{params.charts.by_country_chart | safe}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="data-viz-tile">
                <h2>Events & grants</h2>
                {{params.charts.events_grants_chart | safe}}
            </div>
        </div>
        <div class="col">
            <div class="data-viz-tile">
                <h2>Annual statistics</h2>
                <div class="stats-table">
                    {{params.tables.stats_table | safe}}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="about-section">
                <h2>About this report</h2>
                <p>The goal of this report is to inform grantees, RFCs, WMF and the public about the impact of Wikimedia events on Wikimedia community activity.</p>
                <p><a class="nav-link nav-link-custom" href="/license">MIT LICENSE</a></p>
            </div>
        </div>
    </div>

    
</div>
{% endblock %}