{% extends 'base.html' %}

{% block nav %}
<ul class="nav nav-tabs nav-fill">
    <li class="nav-item">
        <a class="nav-link nav-link-custom" aria-current="page" href="/">GLOBAL</a>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-link-custom active" href="/events">EVENTS</a>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-link-custom" href="/grants">GRANTS</a>
    </li>
</ul>
{% endblock %}


{% block content %}
<div class="container text-center">

    <div class="current-selection">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="current-selection-block">
                        <h2>Current selection</h2>
                        <ul>
                            <li>
                                <span class="selection-label">Events related to event:</span> 
                                <a href="/events/{{ params.event_details.event_id }}">{{ params.event_details.event_name }}</a>
                            </li>
                            <li>
                                <span class="selection-label">Selected event start date:</span>  {{ params.event_details.event_start_utc_dt }}
                            </li>
                            <li>
                                <span class="selection-label">Selected event end date:</span>  {{ params.event_details.event_end_utc_dt }}
                            </li>
                            <li>
                                <span class="selection-label">Selected event organizers:</span>  {{ params.event_details.organizers_count }}
                            </li>
                            <li>
                                <span class="selection-label">Selected event participants:</span>  {{ params.event_details.participants_count }}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="current-selection-block">
                        <h2>Matched</h2>
                        <ul>
                            <li>
                                <span class="selection-label">All related events:</span> 
                                {{ '{:,}'.format(params.tables.event_influence_table | length) }}
                            </li>
                            <li>
                                <span class="selection-label">Prior events:</span> 
                                {{ '{:,}'.format(params.tables.prior_event_influence_table | length) }}
                            </li>
                            <li>
                                <span class="selection-label">Concurrent events:</span> 
                                {{ '{:,}'.format(params.tables.concurrent_event_influence_table | length) }}
                            </li>
                            <li>
                                <span class="selection-label">Subsequent events:</span> 
                                {{ '{:,}'.format(params.tables.subsequent_event_influence_table | length) }}
                            </li>
                            <li>
                                &nbsp;
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="data-list">


        {% if params.tables.prior_event_influence_table %}

        <h2>Prior events</h2>
        <table class="table">
            <tr>
                <th>Event name</th>
                <th>Event start date</th>
                <th>Event end date</th>
                <th>Organizers in common</th>
                <th>Participants in common</th>
                <th>Participants turned organizers</th>
            </tr>
            {% for event in params.tables.prior_event_influence_table %}
            <tr>
                <td><a href="/events/{{ event.event_id }}" target="_blank" rel="noopener noreferrer">{{ event.event_name }}</a></td>
                <td>{{ event.event_start_utc_dt }}</td>
                <td>{{ event.event_end_utc_dt }}</td>
                <td>{{ event.organizers_in_common_count }}</td>
                <td>{{ event.participants_in_common_count }}</td>
                <td>{{ event.participants_turned_organizers_count }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}


        {% if params.tables.concurrent_event_influence_table %}

        <h2>Concurrent events</h2>
        <table class="table">
            <tr>
                <th>Event name</th>
                <th>Event start date</th>
                <th>Event end date</th>
                <th>Organizers in common</th>
                <th>Participants in common</th>
                <th>Participants turned organizers</th>
            </tr>
            {% for event in params.tables.concurrent_event_influence_table %}
            <tr>
                <td><a href="/events/{{ event.event_id }}" target="_blank" rel="noopener noreferrer">{{ event.event_name }}</a></td>
                <td>{{ event.event_start_utc_dt }}</td>
                <td>{{ event.event_end_utc_dt }}</td>
                <td>{{ event.organizers_in_common_count }}</td>
                <td>{{ event.participants_in_common_count }}</td>
                <td>{{ event.participants_turned_organizers_count }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}


        {% if params.tables.subsequent_event_influence_table %}

        <h2>Subsequent events</h2>
        <table class="table">
            <tr>
                <th>Event name</th>
                <th>Event start date</th>
                <th>Event end date</th>
                <th>Organizers in common</th>
                <th>Participants in common</th>
                <th>Participants turned organizers</th>
            </tr>
            {% for event in params.tables.subsequent_event_influence_table %}
            <tr>
                <td><a href="/events/{{ event.event_id }}" target="_blank" rel="noopener noreferrer">{{ event.event_name }}</a></td>
                <td>{{ event.event_start_utc_dt }}</td>
                <td>{{ event.event_end_utc_dt }}</td>
                <td>{{ event.organizers_in_common_count }}</td>
                <td>{{ event.participants_in_common_count }}</td>
                <td>{{ event.participants_turned_organizers_count }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}

    </div>


</div>
{% endblock %}